$backgroundColor: #ffffff;
$fontColor: #000000;
$confirmationGreen: #18c900;
$deleteRed: #e62e2e;
$fontSize: 20px;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: $backgroundColor;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $fontSize;
  color: $fontColor;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: $fontColor;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

::placeholder {
  color: $fontColor;
}

img {
  width: 100%;
  display: block;
}

label {
  border: 1px solid $fontColor;
  padding: 5px;
  width: 100%;
  display: block;
  cursor: pointer;
}

.file-input {
  display: none;
}

input {
  font-size: 100%;
  font-family: inherit;
  color: $fontColor;
  background: none;
  border: 1px solid $fontColor;
  outline: none;
  padding: 5px;
  width: 100%;
  margin: -1px 0 0 0;
}

button {
  font-size: 100%;
  font-family: inherit;
  color: $fontColor;
  background: none;
  border: 1px solid $fontColor;
  outline: none;
  padding: 5px;
  width: 100%;
  margin: -1px 0 0 0;
  cursor: pointer;
}

button:hover {
  color: $backgroundColor;
  background: $fontColor;
  text-decoration: none;
}

.comment-button-edit:hover {
  background: $confirmationGreen;
}

.comment-button-delete:hover {
    background: $deleteRed;
}

.wrapper {
  width: 100vw;
  padding: 10px 10px 0px 10px;
}

nav {
  width: 100%;
  position: fixed;
  top: 0;
  background: $backgroundColor;
  padding: 5px 0 5px 0;

  a {
    padding: 0 5px 0 0;
  }
}

.content {
  padding: 25px 0 0 0;

  .home-text {
    padding: 5px 0 5px 0;

    p,
    a,
    span,
    button {
      padding: 0 5px 0 0;
    }

    button {
      font-size: 100%;
      font-family: inherit;
      color: $fontColor;
      background: none;
      border: 0;
      width: auto;
    }

    button:hover {
      text-decoration: underline;
    }
  }

  .home-form {
    padding: 0 0 10px 0;
  }

  .comments {
    padding: 0 0 10px 0;
  }

  .general-form {
    padding: 3px 0 0 0;
  }

  .users-text {
    padding: 5px 0 0 0;

    button {
      padding: 0 5px 0 0;
    }

    button {
      font-size: 100%;
      font-family: inherit;
      color: $fontColor;
      background: none;
      border: 0;
      width: auto;
    }

    button:hover {
      text-decoration: underline;
    }
  }

  .users-form {
    padding: 4px 0 0 0;
  }

  .profile-img {
    padding: 0 0 10px 0;
  }

  .profile-text {
    margin: 0 0 10px 0;
  }

  .profile-button {
    margin: 4px 0 0 0;
  }
}

.login-text {
  padding: 0 0 10px 0;
}

.login-link {
  padding: 10px 0 0 0;
  display: block;
}

.error-text {
  padding: 10px 0 0 0;
}

@media (min-width: 626px) {
  .wrapper {
    margin: auto;
    max-width: 616px;
  }
}
