$backgroundColor: white;
$textColor: black;
$fontSize: 30px;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: $backgroundColor;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: $fontSize;
  color: $textColor;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  // font-size: 35px;
}

button {
  cursor: pointer;
}

img {
  width: 100vw;
}
